<p>score-display works!</p>

<table class="table table-dark table-bordered table-hover w-75 center">
  <thead>
    <tr>
      <th scope="col" class="table-striped">Song</th>
      <th scope="col">Difficulty</th>
      <th scope="col" class="table-striped">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let score of scores" scope="row">
      <td>{{ score.title }}</td>
      <td
        [ngClass]="{
          'bg-success': score.difficulty.includes('Hard'),
          'bg-primary': score.difficulty.includes('Expert'),
          'bg-info': score.difficulty.includes('Beginner'),
          'bg-warning': score.difficulty.includes('Easy'),
          'bg-danger': score.difficulty.includes('Medium')
        }"
      >
        {{ score.difficulty }} 
      </td>
      <td>{{ score.score | number: "1.2-2" }} %</td>
    </tr>
  </tbody>
</table>

<table class="table table-dark table-bordered table-hover w-75 center">
  <thead>
    <tr>
      <th scope="col" class="table-striped">Song</th>
      <th scope="col">Difficulty</th>
      <th scope="col" class="table-striped">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let song of titles.Stats.SongScores.Song" scope="row">
      <td>{{ song['-Dir'] }}</td>
      <td>{{ getDifficulty(song)}}</td>
      <!-- <td
        [ngClass]="{
          'bg-success': score.difficulty.includes('Hard'),
          'bg-primary': score.difficulty.includes('Expert'),
          'bg-info': score.difficulty.includes('Beginner'),
          'bg-warning': score.difficulty.includes('Easy'),
          'bg-danger': score.difficulty.includes('Medium')
        }"
      >
        {{ score.difficulty }} 
      </td>
      <td>{{ score.score | number: "1.2-2" }} %</td> -->
    </tr>
  </tbody>
</table>

